<!-- todo_list/todo_app/templates/todo_app/index.html -->

{% extends "base.html" %}
{% block content %}
<!--index.html-->
{% if object_list %}
<h3>all lists</h3>
{% endif %}
<p>
    <input
        value="add a new list"
        type="button"
        onclick="location.href='{% url "todo_app:list-add" %}'"/>
</p>
<ul>
    {% for todolist in object_list %}
    <li>
        <div
            class="clickable"
            role="button"
            onclick="location.href='{% url "todo_app:list" todolist.id %}'">
            {{ todolist.title }}
        </div>
    </li>
    {% empty %}
    <h4>you have no lists!</h4>
    {% endfor %}
</ul>

{% endblock %}